/*========================================================
        DARK LAYOUT
=========================================================*/
.colors-list li
{
    padding: .4rem;
}
.colors-list li i
{
    font-size: 1.2rem;

    position: relative;
    top: 2px;

    margin-right: .25rem;
}
