/*========================================================
        DARK LAYOUT
=========================================================*/
.chat-application .chat-app-window .user-chats
{
    position: relative;

    height: 415px; 
    padding: 10px 20px;

    text-align: center;
}
.chat-application .chat-app-window .user-chats .chats
{
    padding: 0;
}
.chat-application .chat-app-window .user-chats .chats .chat-body
{
    display: block;
    overflow: hidden; 

    margin: 10px 30px 0 0;
}
.chat-application .chat-app-window .user-chats .chats .chat-body .chat-content
{
    display: block;
    float: right;
    clear: both;

    margin: 0 20px 10px 0;
    padding: .75rem 1rem;

    text-align: left;

    color: #fff;
    border-radius: .5rem;
    background: -webkit-linear-gradient(332deg, #7367f0, rgba(115, 103, 240, .7));
    background:    -moz-linear-gradient(332deg, #7367f0, rgba(115, 103, 240, .7));
    background:      -o-linear-gradient(332deg, #7367f0, rgba(115, 103, 240, .7));
    background:         linear-gradient(118deg, #7367f0, rgba(115, 103, 240, .7));
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}
.chat-application .chat-app-window .user-chats .chats .chat-body .chat-content p
{
    margin: 0;
}
.chat-application .chat-app-window .user-chats .chats .chat-avatar
{
    float: right;
}
.chat-application .chat-app-window .user-chats .chats .chat-left .chat-avatar
{
    float: left;
}
.chat-application .chat-app-window .user-chats .chats .chat-left .chat-body
{
    margin: 0;
}
.chat-application .chat-app-window .user-chats .chats .chat-left .chat-content
{
    float: left;

    margin: 10px 10px 10px 20px;

    text-align: left;

    color: #626262;
    border: 1px solid #dae1e7; 
    background: none;
    background-color: white;
}
