/*========================================================
        DARK LAYOUT
=========================================================*/
#user-profile .profile-img-container
{
    position: absolute;
    bottom: -3rem;
    left: 10%;

    width: 80%;
}
#user-profile .profile-img-container img
{
    width: 85px; 
    height: 85px;

    border: .3rem solid #fff;
}

#user-profile #profile-info .card-header i
{
    position: relative;
    top: -3px;
}

#user-profile #profile-info .user-like i
{
    font-size: 1.7rem;
}

#user-profile #profile-info .suggested-block .user-page-info p
{
    font-weight: 500; 

    margin-bottom: 0;
}

#user-profile #profile-info .suggested-block i
{
    cursor: pointer;
}

#user-profile .relative
{
    position: relative;
}

#user-profile .profile-header-nav
{
    padding: .75rem 1rem; 

    background-color: #fff;
}
#user-profile .profile-header-nav .navbar
{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}
#user-profile .profile-header-nav .navbar .navbar-toggler
{
    font-size: 1.7rem;

    color: #626262;
}
#user-profile .profile-header-nav .navbar .navbar-toggler:focus
{
    outline: none;
}

#user-profile .user-latest-img
{
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
#user-profile .user-latest-img:hover
{
    z-index: 30; 

    -webkit-transform: translateY(-4px) scale(1.2);
       -moz-transform: translateY(-4px) scale(1.2);
        -ms-transform: translateY(-4px) scale(1.2);
         -o-transform: translateY(-4px) scale(1.2);
            transform: translateY(-4px) scale(1.2);
}

#user-profile .block-element .spinner-border
{
    border-width: 2px;
}

@media only screen and (min-width: 992px)
{
    #user-profile .profile-header-nav .navbar .nav-item
    {
        padding-right: 2.25rem !important; 
        padding-left: 2.25rem !important;
    }
}

@media only screen and (max-width: 992px)
{
    #user-profile .user-latest-img img
    {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px)
{
    #user-profile .profile-header-nav .navbar .nav-item
    {
        padding-right: 1.5rem !important; 
        padding-left: 1.5rem !important;
    }
}
