/*========================================================
        DARK LAYOUT
=========================================================*/
.user-form .dropzone
{
    width: 200px; 
    min-height: 200px;
}
.user-form .dropzone .dz-message
{
    font-size: 1rem;

    height: auto;
}
.user-form .dropzone .dz-message:before
{
    font-size: 2rem;
}
